################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AzureBootcamp2017DemoWebAPI/Properties/PublishProfiles
/AzureBootcamp2017DemoWebAPI/obj
/AzureBootcamp2017DemoWebAPI/obj/**
/AzureBootcamp2017DemoWebAPI/bin
/AzureBootcamp2017DemoWebAPI/bin/**
